@media (min-width: 992px) {
    .hide_pc {
        display: none !important;
    }
}

@media (max-width: 992px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    .hide_mobile {
        display: none !important;
    }
    .navbar {
        border-radius: 0px 0px 0px 0px !important;
        width: 100% !important;
    }
}