<template id="listLinkTemplate">
	<div class="d-flex w-100 align-items-center list-group-item">
		<img src="" class="rounded-3" style="max-height: 5vh;" id="listLinkImage">
		<a id="listLinkText" class="text-decoration-none"></a>
	</div>
</template>

<div class="modal fade" id="searchModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Pesquisa de Usuário</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<input type="text" placeholder="Pesquisar" id="searchBar" class="form-control">
				<ul class="overflow-auto d-none my-2 list-group" id="searchList" style="max-height: 10vh">
				</ul>
			</div>
		</div>
	</div>
</div>