<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>MiiAudote</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">

	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/search.js') }}"></script>

	<script type="module" src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='scripts/post_handler.js') }}"></script>
</head>

<body class="bg-body-secondary">
	<!-- MISC -->
	<!-- POST TEMPLATE -->
	<template id="postTemplate">
		<div class="container py-4 col-lg-4">
			<div class="bg-body-tertiary p-3">
				<div id="carouselExample" class="carousel slide">
					<div class="carousel-inner" id="postImages">
					</div>
					<button class="carousel-control-prev" type="button" data-bs-slide="prev">
						<span class="carousel-control-prev-icon"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-slide="next">
						<span class="carousel-control-next-icon"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

				<br>

				<div class="d-flex align-items-center gap-2">
					<div class="d-flex flex-column w-100">
						<div class="d-flex">
							<h3 id="postPetName" class="flex-grow-1" style="word-break: break-all;">Macumbinha</h3>
							<button type="button" class="btn btn-primary flex-shrink-1" id="postDeleteBtn"><i class="bi-trash"></i></button>
						</div>
						<p class="fst-italic" id="postPetInfo"></p>
					</div>
				</div>

				<div id="postDescriptionCollapse" class="mb-3 collapse">
					<p class="my-1" id="postPetDescription"></p>
				</div>

				<div class="d-flex gap-1">
					<button type="button" class="btn btn-primary my-1" data-bs-toggle="collapse"
						data-bs-target="" aria-expanded="false"
						aria-controls="postPetDescription" id="readDescriptionBtn"><i class="bi-book"></i>&nbsp;Ler descrição</button>
				</div>
			</div>
		</div>
	</template>

	<!-- MODAL SEARCH -->
	<div class="modal fade" id="searchModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Pesquisa de Usuário</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<input type="text" placeholder="Pesquisar" id="searchBar" class="form-control">
					<ul class="overflow-auto d-none my-2" id="searchList" style="max-height: 10vh">
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL EDIT PROFILE -->
	<div class="modal fade" id="editProfileModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Editar Perfil</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<form method="POST" action="" enctype="multipart/form-data">
						{{ profile_form.hidden_tag() }}
						<div class="mb-3">
							<label class="form-label">Nome de Usuário</label>
							{{ profile_form.username(class="form-control", id="formUsername") }}
						</div>
						<div class="mb-3">
							<label class="form-label">Email</label>
							{{ profile_form.email(class="form-control", id="formEmail") }}
						</div>
						<div class="mb-3">
							<label class="form-label">Telefone</label>
							{{ profile_form.phone(class="form-control", id="formPhone", oninput="this.value=this.value.replace(/[^\d]/,'')") }}
						</div>
						<div class="mb-3">
							<label class="form-label">Foto de Perfil</label>
							{{ profile_form.image(class="form-control") }}
						</div>

						<div class="d-flex flex-row w-100">
							{{ profile_form.submit(class="btn btn-primary mx-1") }}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL FILTER -->
	<div class="modal fade" id="filterModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Filtros</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					{{ post_form.hidden_tag() }}
					<div class="mb-3">
						<input class="form-check-input" type="checkbox" value="" id="checkPetRace">
						<label class="form-check-label" for="checkPetRace">Raça do Pet</label>&nbsp;

						<input class="form-check-input" type="checkbox" value="" id="checkPetAge">
						<label class="form-check-label" for="checkPetAge">Idade do Pet</label>&nbsp;

						<input class="form-check-input" type="checkbox" value="" id="checkPetSex">
						<label class="form-check-label" for="checkPetSex">Sexo do Pet</label>&nbsp;

						<br>

						<input class="form-check-input" type="checkbox" value="" id="checkPetSize">
						<label class="form-check-label" for="checkPetSize">Porte do Pet</label>&nbsp;

						<input class="form-check-input" type="checkbox" value="" id="checkPetLocation">
						<label class="form-check-label" for="checkPetLocation">Localização do Pet</label>
					</div>

					<!-- Grupos com IDs para controle JS -->
					<div class="mb-3" id="filterGroupPetRace">
						<label class="form-label">Raça do Pet</label>
						{{ post_form.pet_race(class="form-control", id="petRaceFilter") }}
					</div>
					<div class="mb-3" id="filterGroupPetAge">
						<label class="form-label">Idade do Pet</label>
						{{ post_form.pet_age(class="form-control", id="petAgeFilter") }}
					</div>
					<div class="mb-3" id="filterGroupPetSex">
						<label class="form-label">Sexo do Pet</label>
						{{ post_form.pet_sex(class="form-control", id="petSexFilter") }}
					</div>
					<div class="mb-3" id="filterGroupPetSize">
						<label class="form-label">Porte do Pet</label>
						{{ post_form.pet_size(class="form-control", id="petSizeFilter") }}
					</div>
					<div class="mb-3" id="filterGroupPetLocation">
						<label class="form-label">Unidade Federativa</label>
						<select class="form-control UFSelect mb-3" id="UFSelectFilter" data-select-target="filterUF">
							<option value="AC">AC</option>
							<option value="AL">AL</option>
							<option value="AM">AM</option>
							<option value="AP">AP</option>
							<option value="BA">BA</option>
							<option value="CE">CE</option>
							<option value="DF">DF</option>
							<option value="ES">ES</option>
							<option value="GO">GO</option>
							<option value="MA">MA</option>
							<option value="MG">MG</option>
							<option value="MS">MS</option>
							<option value="MT">MT</option>
							<option value="PA">PA</option>
							<option value="PB">PB</option>
							<option value="PE">PE</option>
							<option value="PI">PI</option>
							<option value="PR">PR</option>
							<option value="RJ">RJ</option>
							<option value="RN">RN</option>
							<option value="RO">RO</option>
							<option value="RR">RR</option>
							<option value="RS">RS</option>
							<option value="SC">SC</option>
							<option value="SE">SE</option>
							<option value="SP">SP</option>
							<option value="TO">TO</option>
						</select>

						<label class="form-label">Município</label>
						{{ post_form.location(class="form-control", id="filterUF") }}
					</div>

					<div class="w-100">
						<button type="button" class="btn btn-primary" id="applyFilter"
							data-bs-dismiss="modal">Aplicar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL POST -->
	<div class="modal fade" id="postModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered needs-validation" novalidate>
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Postar</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<form method="POST" action="" enctype="multipart/form-data">
						{{ post_form.hidden_tag() }}
						<div class="mb-3">
							<label class="form-label">Informações do Pet</label>
							{{ post_form.pet_name(class="form-control", placeholder="Nome do Pet") }}
						</div>
						<div class="mb-3">
							{{ post_form.pet_race(class="form-control") }}
						</div>
						<div class="mb-3">
							{{ post_form.pet_age(class="form-control") }}
						</div>
						<div class="mb-3">
							{{ post_form.pet_sex(class="form-control") }}
						</div>
						<div class="mb-3">
							{{ post_form.pet_size(class="form-control") }}
						</div>
						<div class="mb-3">
							<label class="form-label">Localização do Pet</label>
							<select class="form-control UFSelect" data-select-target="postUF">
								<option value="AC">AC</option>
								<option value="AL">AL</option>
								<option value="AM">AM</option>
								<option value="AP">AP</option>
								<option value="BA">BA</option>
								<option value="CE">CE</option>
								<option value="DF">DF</option>
								<option value="ES">ES</option>
								<option value="GO">GO</option>
								<option value="MA">MA</option>
								<option value="MG">MG</option>
								<option value="MS">MS</option>
								<option value="MT">MT</option>
								<option value="PA">PA</option>
								<option value="PB">PB</option>
								<option value="PE">PE</option>
								<option value="PI">PI</option>
								<option value="PR">PR</option>
								<option value="RJ">RJ</option>
								<option value="RN">RN</option>
								<option value="RO">RO</option>
								<option value="RR">RR</option>
								<option value="RS">RS</option>
								<option value="SC">SC</option>
								<option value="SE">SE</option>
								<option value="SP">SP</option>
								<option value="TO">TO</option>
							</select>
						</div>
						<div class="mb-3">
							{{ post_form.location(class="form-control", id="postUF") }}
						</div>
						<div class="mb-3">
							<label class="form-label">Descrição do Pet</label>
							{{ post_form.pet_description(class="form-control", maxlength="500") }}
						</div>

						{% for error in post_form.images.errors %}
						<p class="text-primary">{{ error }}</p>
						{% endfor %}

						<label class="form-label">Selecione imagens</label>
						<div class="d-flex flex-row w-100">
							{{ post_form.submit(class="btn btn-primary") }}
							{{ post_form.images(class="form-control mx-2", type="file", accept="image/*") }}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- PC SCREEN -->
	<main class="d-flex flex-row d-none d-lg-flex">
		<!-- NAV PC SIDEBAR -->
		<nav class="d-flex flex-column p-3 bg-dark" style="width: 15rem;">
			<img class="rounded-3 w-100 h-25" src="{{ url_for('static', filename='images/logo.svg') }}">

			<ul class="navbar nav-pills flex-column mb-auto link-light align-items-start mx-4">
				<a type="button" class="btn btn-dark m-1 align-items-center d-flex fs-5"
					href="{{ url_for('dashboard') }}"><i class="bi bi-house-fill px-2 fs-4"></i>Home</a>
				<a type="button" class="btn btn-dark m-1 align-items-center d-flex fs-5" data-bs-toggle="modal"
					data-bs-target="#postModal"><i class="bi bi-plus-square px-2 fs-4"></i>Criar</a>
				<a type="button" class="btn btn-primary m-1 align-items-center d-flex fs-4 fw-bold"
					href="{{ url_for('profile', id=current_user.id) }}"><i
						class="bi bi-person-circle px-2 fs-3"></i>Perfil</a>
				<a type="button" class="btn btn-dark m-1 align-items-center d-flex fs-5" data-bs-toggle="modal"
					data-bs-target="#filterModal"><i class="bi bi-funnel px-2 fs-4"></i>Filtrar</a>
				<a type="button" class="btn btn-dark m-1 align-items-center d-flex fs-5" data-bs-toggle="modal"
					data-bs-target="#searchModal"><i class="bi bi-search px-2 fs-5"></i>Pesquisar</a>
			</ul>

			<div class="dropdown">
				<a href="#" class="text-decoration-none dropdown-toggle fs-5 text-light" style="word-break: break-all;" data-bs-toggle="dropdown">
					{{ current_user.username }}
				</a>
				<ul class="dropdown-menu text-small shadow">
					<li><a class="dropdown-item" href="{{url_for('logout')}}">Sair</a></li>
				</ul>
			</div>
		</nav>

		<!-- PC FEED -->
		<div class="flex-fill overflow-auto vh-100">
			<div class="container py-4 col-lg-8">
				<div class="d-flex">
					<img src="{{ url_for('get_file', subpath='profile_pictures', filename=profile.id) }}"
						class="d-block object-fit-fill"
						style="border-radius: 50%; width: 8rem; height: 8em; margin-right: 1em;">
					&nbsp;
					<div style="word-break: break-all;">
						<h2>{{ profile.username }}</h2>
						<p>{{ profile.email }}</p>
						<p>{{ profile.phone }}</p>
					</div>
					<div class="d-flex h-100 gap-1 mx-2">
						<button type="button" class="btn btn-primary my-1 d-none" id="editBtn"
							data-bs-toggle="modal" data-bs-target="#editProfileModal">Editar
							Perfil</button>
						<a href="" class="btn btn-primary my-1" id="messengerBtn">Messenger</a>
					</div>
				</div>
				<hr>
				<div class="d-flex justify-content-center">
					<h4>Posts</h4>
				</div>
			</div>

			<div class="flex-fill overflow-auto feed">
			</div>
		</div>
	</main>

	<!-- MOBILE SCREEN -->
	<main class="d-flex flex-column vh-100 d-lg-none">
		<!-- MOBILE TOP NAV -->
		<nav class="navbar d-flex flex-row align-items-center bg-dark flex-nowrap sticky-top">
			<div class="flex-grow-1">
				<img class="m-2 w-100" src="{{ url_for('static', filename='images/logo_inverted.svg') }}">
			</div>
			<div class="flex-shrink-0 ms-3 d-flex">
				<a type="button" class="btn btn-dark align-items-center d-flex" data-bs-toggle="modal"
					data-bs-target="#searchModal"><i class="bi bi-search px-2 fs-1"></i></a>
				<a type="button" class="btn btn-dark align-items-center d-flex fw-bold" data-bs-toggle="modal"
					data-bs-target="#filterModal"><i class="bi bi-funnel px-2 fs-1"></i></a>
				<a type="button" class="btn btn-dark align-items-center d-flex" href="{{url_for('logout')}}"><i class="bi bi-box-arrow-left px-2 fs-1"></i></a>
			</div>
		</nav>

		<!-- FEED AREA -->
		<div class="flex-fill overflow-auto vh-100">
			<div class="container py-4">
				<div class="d-flex">
					<img src="{{ url_for('get_file', subpath='profile_pictures', filename=profile.id) }}"
						class="d-block object-fit-fill"
						style="border-radius: 50%; width: 25vw; height: 12vh; margin-right: 1em;">
					&nbsp;
					<div style="word-break: break-all;">
						<h2>{{ profile.username }}</h2>
						<p>{{ profile.email }}</p>
						<p>{{ profile.phone }}</p>
						<div class="d-flex gap-1">
							<button type="button" class="btn btn-primary d-none text-nowrap" id="editBtn" data-bs-toggle="modal"
								data-bs-target="#editProfileModal">Editar Perfil</button>
							<a href="" class="btn btn-primary" id="messengerBtn">Messenger</a>
						</div>
					</div>
				</div>
				<hr>
				<div class="d-flex justify-content-center">
					<h4>Posts</h4>
				</div>
			</div>

			<div class="flex-fill overflow-auto feed">
			</div>
		</div>

		<!-- MOBILE NAV BOTTOM BAR -->
		<nav class="navbar bg-dark justify-content-center flex-nowrap sticky-bottom">
			<ul class="navbar nav-pills flex-row justify-content-center mb-auto link-light">
				<a type="button" class="btn btn-dark align-items-center d-flex" href="{{ url_for('dashboard') }}"><i
						class="bi bi-house-fill px-2 fs-1"></i></a>
				<a type="button" class="btn btn-dark align-items-center d-flex" data-bs-toggle="modal"
					data-bs-target="#postModal"><i class="bi bi-plus-square px-2 fs-1"></i></a>
				<a type="button" class="btn btn-primary align-items-center d-flex fw-bold"><i
						class="bi bi-person-circle px-2 fs-1"></i></a>
			</ul>
		</nav>
	</main>
</body>

</html>